<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication
    </title>
    <link rel="stylesheet" href="/static/socialMedia.css">
    <link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- default theme of messages -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
</head>

<body>
    <div class="reg-container">
        <div class="registration">
            <div class="cross2">
                <img src="../static/img1/arrow.png">
            </div>
            <div class="reg-sslider">
                <h2 onclick="Signup()">Signup</h2>
                <h2 onclick="Login()">Login</h2>
                <hr id="indicator">

            </div>

            {% for message in messages %}
            <script>
                alertify.set('notifier', 'position', 'top-center');
                alertify.success('{{ message }}');
            </script>
            {% endfor %}

            <!-- login -->
            <form action="/login" method="post" id="login">
                {% csrf_token %}
                <div class="txt_field">
                    <input type="text" name="loginusername" id="loginusername" required max="10" min="3"
                        placeholder="Username">
                    <input type="password" name="loginpassword" id="loginpassword" required min="8"
                        placeholder="Password">
                    <div class="fpass"><a href="#">Forgot Password ?</a></div>
                </div>
                <input type="submit" value="Login" class="submit">
                <div class="signup_link">
                    Not a member ? <a href="#" onclick="Signup()">Signup</a>
                </div>

            </form>

            {% comment %} signup {% endcomment %}

            <form action="/signup" method="post" id="signup">
                {% csrf_token %}

                <div class="txt_field">
                    <input type="text" id="Uname" name="Uname" required max="10" min="3" placeholder="Username">
                    <input type="email" id="email" name="email" required placeholder="Email">
                    <input type="password" id="password" name="password" required min="8" placeholder="Password">
                </div>
                <input type="submit" value="Signup" class="submit">

            </form>
        </div>
    </div>


    <script src="/static/socialMedia.js"></script>

</body>

</html>